
a {
  position: relative;
  display: inline-block;
}


.imgCart {
  width: 40px;
  margin-left: 20px;
}


.contadorCarrito {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #1db954;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
