.textoBienvenida {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    margin-top: 40px;
}

.textoSubtitulo {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}