

/* Card general */
.card {
  background-color: #222;
  color: #fff;
  border: 1px solid #555;
  
}

/* Precio */
.card h6 {
  color: #1db954; /* verde PassShow */
}

/* Hover */
.card:hover {
  transform: translateY(-4px);
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

/* Botón */
.event-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.event-btn:hover {
  background-color: #157347;
}
